section {
  .sec_title {
    h3 {
      font-family: var(--effra-font) !important;
    }
  }
  .tabContent_container {
    box-shadow: 0px 21px 35px 0px #00000008;
    background-color: #ffffff;
    padding-top: 41px;
    margin-top: 67px;
    position: relative;
    z-index: 3;
    border: 1px solid #e5e6f2;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-top: none;
    @media screen and (max-width: 450px) {
      margin: 10px;
      border-top-right-radius: 10px;
    }

    .timelineSection {
      position: relative;
      padding-left: 30px;
      margin-right: 29px;
      overflow: unset;
      padding-bottom: 40px;

      .slider_container {
        .filter_sec {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: row-reverse;
          @media screen and (max-width: 450px) {
            flex-direction: column-reverse;
            align-items: flex-end;
            width: 100%;
            justify-content: center;
          }
          .shows {
            p {
              font-family: var(--effra-font);
              font-size: 12px;
              font-weight: 400;
              line-height: 23px;
              letter-spacing: 0em;
              text-align: left;
              color: #979bb6;

              span {
                font-family: var(--effra-font);
                font-size: 12px;
                font-weight: 400;
                line-height: 23px;
                letter-spacing: 0em;
                text-align: left;
                color: #11292f;
                display: inline;
              }
            }
          }

          .filter_methods {
            display: flex;
            width: 100%;
            @media screen and (max-width: 450px) {
              align-items: flex-end;
              width: 100%;
              justify-content: center;
            }
            .box {
              max-width: fit-content !important;
            }
          }
        }
      }
    }
  }
}
